<a href="/" class="global-home-link">&lt; <span>Back to city list</span></a>
<div class="city-page">

	<h2>{{ city.name }} Playlists</h2>
	<ul class="playlist-items">
	  {{#each playlists}}
	  <li class="playlist-item">
	  	<a href="/{{../city.slug}}/{{slug}}">
		  	<figure>
		  		<h3>{{name}}</h3>
		  		<div class="playlist-image-container">
		  			<img src="{{coverImage}}" alt="{{slug}} cover image">
		  			<span class="btn-rounded">View playlist</span>
		  		</div>
		  		<figcaption class="top-playlist-artists">
		  			{{#each topArtists}}
		  			<span>{{this}}{{#unless @last}},{{/unless}}</span>
		  			{{/each}}
		  		</figcaption>
		  	</figure>
	  	</a>
	  </li>
	  {{/each}}
	</ul>

</div>