<a href="/{{city.slug}}" class="global-home-link">&lt; <span>Find another genre</span></a>

<div class="city-playlist-page">
  <header class="city-playlist-header">
    <h2>{{playlist.name}} shows in {{ city.name }}</h2>
    <p>Including {{#each playlist.topArtists }}{{this}}, {{/each}}</p>
    <div class="social-wrapper">
      <ul>
        <li>
          <a class="twitter-icon icon"
            href="https://twitter.com/intent/tweet?text=Check out this Spotify playlist of upcoming shows in {{city.name}}: {{playlistUrl}}">
          </a>
        </li>
        <li><a
          class="fbook-icon icon"
          href=""
          onclick="popUp=window.open(
                 'http://www.facebook.com/sharer/sharer.php?display=popup&u={{playlistUrl}}&title=Check out this Spotify playlist of upcoming shows in {{city.name}}',
                 'popupwindow',
                 'scrollbars=yes,width=600,height=400');
             popUp.focus();
             return false">
          </a>
        </li>
        <li class="copy-city-url" data-clipboard-text="{{playlist.externalUrl}}"><span class="link-icon icon"></span></li>
      </ul>
    </div>
  </div>

  <div class="city-playlist-wrapper">

    <div class="gig-info-list">
      <header class="gig-info-list-header">
        <a href="{{playlist.externalUrl}}" target="_blank" class="playlist-subscribe-link btn-rounded icon spotify-icon">Follow this Playlist</a>
      </header>
      <table class="gig-info-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Date</th>
            <th>Venue</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each tracks}}
          <tr class="gig-info-list-item">
            <td class="gig-artist"><span>{{artist}}</span></td>
            <td class="gig-date"><span>{{songkick.date}}</span></td>
            <td class="gig-venue"><span>{{songkick.venue}}</span></td>
            <td class="gig-listen"><a href="{{spotify.url}}" class="btn-rounded icon spotify-icon">Listen</span></td>
            <td class="gig-link"><a href="{{songkick.url}}" class="btn-rounded icon songkick-icon">Info</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
